# Bytecode and Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env/
.venv/

# Poetry files to **keep** (do NOT ignore poetry.lock)

# OS files
.DS_Store

# Other
*.log


# Terraform
.terraform/
*.tfstate
*.tfstate.backup


tmp/

#pytest
.pytest_cache/

lambda_ingest.zip

venv/